.header_outer_container {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(20,20,20);
  height: 10vh;
  color: white;
  transition: all 0.5s;
  transition-timing-function: ease-in;
  z-index: 1;
}
.header_container {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header_left ul,
.header_right ul {
  width: 140%;
  display: flex;
  list-style-type: none;
  align-items: center;
  cursor: pointer;
  justify-content: space-between;
}

.header_left ul li img {
  max-width: 100%;
  width: 80px;
  height: auto;
}
