.outer_footer_container{
    background-color: #111;
    color: gray;
    display: flex;
    justify-content: center;
}
.inner_footer_container{
    width: 70%;
}
.footer_icons{
    width: 12%;
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    color: #fff;
    margin-bottom: 10px;
}
.footer_data{
    display: flex;
    justify-content: space-between;
    
}
.footer_data ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
}
.footer_data ul li{
    cursor: pointer;
    margin-bottom: 10px;
}
.service_code {
    display: flex;
    align-items: center;
    justify-content: center;
    border: #fff 1px solid;
    width: 12%;
    margin: 10px 0;
    cursor: pointer;
}
.copy_write{
    font-size: 12px;
    margin-bottom: 10px;
}